body{
    background: #FEFEFE url("#{resource['casacivil/images/sprite.jpg']}") !important;
}
.topo{ background: #315899 url("#{resource['casacivil/images/topo-casacivil.jpg']}") top center no-repeat; height: 68px; }



/* TOPBAR */
.aw-topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-height: 50px;
    z-index: 9999;

    background-color: #1e94d2;
}


.aw-topbar > img {
    margin-top: 10px;
    margin-left: 5px;
}

/* SIDEBAR */
.aw-sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 210px;
    margin-left: -211px;
    z-index: 9998;
    transition: margin-left 0.5s;
    overflow-y: auto;

    background-color: #f6f6f6;
    border-right: 1px solid #eaeaea;
}

/* CONTENT */
.aw-content {
    padding: 10px;
    margin-top: 50px;
    margin: 0 auto;

}

.ui-datascroller .ui-widget-content{
    border: none;
}

.ui-datascroller-item{
    margin-bottom: 30px;
}


/*==========  Mobile First Method  ==========*/

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 565px) {
    .aw-content {
        width: 100%;
    }
    .conteudo-lei{
        padding-left: 2em;
        padding-right: 2em;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .aw-content {
        width: 90%;
    }
    .conteudo-lei{
        padding-left: 4em;
        padding-right: 4em;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 1010px) {
    .aw-content {
        width: 80%;
    }
    .conteudo-lei{
        padding-left: 6em;
        padding-right: 6em;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .aw-content {
        width: 1130px;
    }

    .conteudo-lei{
        padding-left: 16em;
        padding-right: 16em;
    }
}