<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="leis_estaduais_PU" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value=""/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value=""/>
      <property name="hibernate.cache.provider_class" value="org.hibernate.cache.NoCacheProvider"/>
      <!--configurando MYSQL -->
      <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
      <!--configurando C3P0 -->
      <property name="hibernate.connection.provider_class" value="org.hibernate.connection.C3P0ConnectionProvider"/>
      <property name="c3p0.acquire_increment" value="1"/>
      <property name="c3p0.idle_test_period" value="60000"/>
      <property name="c3p0.max_size" value="30"/>
      <property name="c3p0.max_statements" value="20"/>
      <property name="c3p0.min_size" value="5"/>
      <property name="c3p0.timeout" value="1800"/>
    </properties>
  </persistence-unit>
</persistence>
